<ul>
  <% configuration.each do |config| %>
    <% checked = 'checked' if config['checked'] %>

    <li data-description="<%= config['description'] %>">
    <div class="row-fluid">
      <div class="span1 offset5">
        <label for="<%= config['id'] %>" class="checkbox <%= checked %>">
          <span class="icon"></span><span class="icon-to-fade"></span>
          <input
          name="<%= config['id'] %>"
          id="<%= config['id'] %>"
          value=""
          type="checkbox" <%= checked %>>
        </label>
      </div>

      <div class="span6 title"><%= config['brief'] %></div>
    </div>
    </li>
  <% end %>
</ul>
