<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sachet - handcraft your development environment</title>

        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="css/uniform.default.min.css" rel="stylesheet" media="screen">
        <link href="css/custom.css" rel="stylesheet" media="screen">

        <%= erb :tracking %>
    </head>

    <body>
        <header>
            <div class="container-fluid mid_grey" id="header-container">
              <h1>sachet</h1>
              <h2>Handcraft your development environment</h2>
              <h3>
                <a href="https://github.com/aam1r/sachet" target="_blank">
                  <i class="icon-github icon-large"></i> View project on Github
                </a>
              </h3>
            </div>
        </header>

        <div class="container-fluid" id="main-container">
            <div class="row-fluid" id="main-container-row">
                <div class="span5 description">
                  <%= erb :description %>
                </div>

                <form id="download_form" action="/download" method="post">
                  <div class="display">
                    <div class="span7">
                      <div id="part1">
                        <%= erb :configuration, :locals => {:configuration => configuration} %>
                      </div>

                      <% [themes, plugins].each do |content| %>
                        <% group = (content == themes) ? 'part2' : 'part3' %>

                        <div id="<%= group %>">
                          <%= erb :gallery, :locals => {:group => group, :content => content} %>
                        </div>
                      <% end %>

                      <div id="buttons">
                        <a class="btn btn-primary" id="previous_btn">Previous</a>
                        <a class="btn btn-primary" id="next_btn">Next</a>
                        <a class="btn btn-success" id="download_btn">
                          <i class="icon-download icon-large"></i> Download
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>

        <footer>
          <div class="container">
            <p>Developed with love by <a href="http://aam1r.com" target="_blank">aam1r</a></p>
          </div>
        </footer>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.uniform.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
