<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sachet - handcraft your development environment</title>

        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link href="css/uniform.default.min.css" rel="stylesheet" media="screen">
        <link href="css/custom.css" rel="stylesheet" media="screen">

        <%= erb :tracking %>
    </head>

    <body>
        <header>
            <div class="container-fluid mid_grey" id="header-container">
              <div class="row-fluid">
                <div class="span6" id="logo">
                  <h1><a href="http://yoursachet.com/">sachet</a></h1>
                  <h3>
                    <a href="https://github.com/aam1r/sachet" target="_blank">
                      <i class="icon-github icon-large"></i> View project on Github
                    </a>
                  </h3>
                </div>

                <div class="span6" id="meta">
                  <h2>Handcraft your development environment</h2>
                  <ul id="social-buttons">
                    <li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fyoursachet.com&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font=segoe+ui&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe></li>
                    <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://yoursachet.com" data-text="sachet - Handcraft your Vim environment online">Tweet</a></li>
                    <li><div class="g-plus" data-action="share" data-annotation="bubble" data-href="http://yoursachet.com"></div></li>
                  </ul>
                </div>
              </div>
            </div>
        </header>

        <div class="container-fluid" id="main-container">
            <div class="row-fluid" id="main-container-row">
                <div class="span5 description">
                  <%= erb :description %>
                </div>

                <form id="download_form" action="/download" method="post">
                  <div class="display">
                    <div class="span7">
                      <div id="part1">
                        <%= erb :configuration, :locals => {:configuration => configuration} %>
                      </div>

                      <% [themes, plugins].each do |content| %>
                        <% group = (content == themes) ? 'part2' : 'part3' %>

                        <div id="<%= group %>">
                          <%= erb :gallery, :locals => {:group => group, :content => content} %>
                        </div>
                      <% end %>

                      <div id="buttons">
                        <a class="btn btn-primary" id="previous_btn">Previous</a>
                        <a class="btn btn-primary" id="next_btn">Next</a>
                        <a class="btn btn-success" id="download_btn">
                          <i class="icon-download icon-large"></i> Download
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>

        <footer>
          <div class="container">
            <small>
              Questions? Feedback? Comments? <br />
              Feel free to send them to me@<a target="_blank" href="http://aam1r.com">aam1r.com</a> or <a href="https://github.com/aam1r/sachet/issues/new" target="_blank">open a Github issue</a>
            </small>
          </div>
        </footer>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.uniform.js"></script>
        <script src="js/custom.js"></script>
        <script>
          /* Twitter button */
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

          /* Google+ button */
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </body>
</html>
