<h1>Welcome to sachet</h1>
<hr />

<form action='/download' method='post'>
  <div>
    <% sections.each do |heading, data| %>
      <h2><%= heading %></h2>
      <ul>
        <% data.each do |config| %>
          <li>
            <input 
              name="<%= config['id'] %>" 
              type="<%= config['input_type'] ? config['input_type'] : 'checkbox' %>"
              <%= 'checked' if config['checked'] %>>

            <label><%= config['brief'] %></label>
          </li>
        <% end %>
      </ul>
    <% end %>

    <input type="submit" value="Download">
  </div>
</form>
