<!DOCTYPE html>
<html lang="en">
  <head>
    <title>sachet - Handcraft your development environment</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/flat-ui.css" rel="stylesheet" media="screen">
    <link href="css/reveal.css" rel="stylesheet" media="screen">
    <link href="css/custom.css" rel="stylesheet" media="screen">
  </head>

  <body>
    <header>
    <div class="container-fluid">
      <div class="row-fluid">
        <div id="logo-slogan" class="span12">
          <h1><i class="icon-magic"></i> sachet</h1>
          <h2>Handcraft your development environment</h2>
        </div>
      </div>

      <div id="header-buttons" class="row-fluid">
        <div class="span12">
          <div class="button span3 offset4">
            <a href="https://github.com/aam1r/sachet" target="_blank" class="btn btn-large btn-block">
              <span class="icon"><i class="icon-github"></i></span>
              <span>View project on GitHub</span>
            </a>
          </div>

          <div class="button span3">
            <a href="#" class="btn btn-large btn-block" data-reveal-id="modal-subscribe-updates" data-animation="fade">
              <span class="icon"><i class="icon-envelope"></i></span>
              <span>Subscribe to updates</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    </header>

    <%= erb :social %>

    <div id="content" class="container-fluid">
      <h1>Choose your editor</h1>

      <div class="row-fluid">
        <div class="span12">
          <a href="#">
            <div class="editor span2 offset4" data-editor="Vim">
              <img src="../img/editor-vim.png" />
              <p>Vim</p>
            </div>
          </a>

          <a href="#">
            <div class="editor coming-soon span2" data-editor="Emacs" data-mc-id="7cfcc7bc3b">
              <img src="../img/editor-emacs.png" />
              <p>Emacs</p>
            </div>
          </a>

          <a href="#">
            <div class="editor coming-soon span2" data-editor="Sublime Text" data-mc-id="5fd7dc6d57">
              <img src="../img/editor-sublime-text.png" />
              <p>Sublime Text</p>
            </div>
          </a>
        </div>
      </div>

      <div id="customize-editor">
        <form id="download_form" action="/download" method="post">
          <hr>

          <h1>Customize your Vim</h1>

          <div id="progress">
            <div id="breadcrumbs">
              <span id="step1-label" class="active">OPTIONS</span>
              &rarr;
              <span id="step2-label">THEMES</span>
              &rarr;
              <span id="step3-label">PLUGINS</span>
            </div>
            <div id="indicator">
              <div class="completed" style="width: 0;" data-progress="0"></div>
            </div>
          </div>

          <div id="configuration" class="row-fluid">
            <div class="span12">
              <div id="step1">
                <div class="span6">
                  <%= erb :configuration, :locals => {:configuration => configuration} %>
                </div>

                <div id="details" class="span6">
                  <%= erb :description %>
                </div>
              </div>

              <% [themes, plugins].each do |content| %>
                <% group = (content == themes) ? 'step2' : 'step3' %>

                <div id="<%= group %>" class="gallery">
                  <%= erb :gallery, :locals => {:group => group, :content => content} %>
                </div>
              <% end %>
            </div>
          </div>

          <div id="customize-buttons" class="row-fluid">
            <div class="span12">
              <a id="previous-btn" class="disabled" href="#">
                <i class="icon-circle-arrow-left icon-3x"></i>
              </a>

              <a id="next-btn" href="#">
                <i class="icon-circle-arrow-right icon-3x"></i>
              </a>

              <a id="download-btn" href="#">
                <i class="icon-download icon-3x"></i>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer>
    <div class="row-fluid">
      <div class="span12">
        <h1>Be the first one to get updates</h1>

        <div>
          <form action="http://aam1r.us1.list-manage1.com/subscribe/post?u=4a0df9a7824fdc70faebb3cfa&amp;id=894833b6c9" method="post" class="validate" target="_blank" novalidate>
            <div class="span3 offset4 email-input">
              <input type="email" name="EMAIL" placeholder="Enter your email to stay up-to-date">
            </div>
            <div class="span1 email-button">
              <input type="submit" value="Subscribe" name="subscribe" class="btn btn-large btn-block">
            </div>
          </form>
        </div>
      </div>
    </div>

    <%= erb :modals %>

    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/jquery.reveal.js"></script>
    <script src="js/custom.js"></script>

    <%= erb :external_js %>
  </body>
</html>
